.timeline-block__slider {
  display: flex;
  flex-direction: column;
  gap: 100px;

  .swiper {
    width: 100%;
    height: 175px;
  }

  .timeline-block__slider-nav {
    position: absolute;
    display: flex;
    gap: 0.75rem;
    justify-content: space-between;
    left: -60px;
    right: -60px;
    bottom: -136px;
    z-index: 2;
  }

  .timeline-block__nav-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0;
    box-shadow: 0 0 15px 0 rgba(56, 119, 238, .1);
    background: var(--timeline-white);
    cursor: pointer;
    transition: stroke .3s ease-in-out;
  }

  .swiper-button-disabled {
    pointer-events: none;
    visibility: hidden;
  }

  .timeline-block__slider-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    position: relative;

    h2 {
      margin: 0;
      font-size: 1.25rem;
      color: var(--black-blue);
    }
  }

  .timeline-block__card {
    padding: 0 1.5rem 0 0;
    min-height: 155px;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    &-year {
      font-family: 'Bebas Neue Cyrillic', system-ui;
      font-size: 25px;
      font-weight: 400;
      color: var(--timeline-blue);
      text-transform: uppercase;
    }

    &-text {
      font-size: 20px;
      margin: 0;
      color: var(--black-blue);
      line-height: 1.5;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      line-clamp: 4;
      -webkit-line-clamp: 4;
      word-break: break-word;
    }
  }

  @media (max-width: 768px) {
    height: auto;
    gap: 0.75rem;

    .timeline-block__slider-headline {
      gap: 0.5rem;
      align-items: flex-start;
    }

    .timeline-block__card {
      min-height: 120px;
      padding: 1rem;
    }
  }
}