:root {
  font-size: 16px;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
  color: #0f1d40;
  background-color: #f4f5f9;
}

:root {
  --timeline-white: #ffffff;
  --filling: #f4f5f9;
  --timeline-bg: #f0f3ff;
  --timeline-orbit: rgb(66, 86, 122, .2);
  --timeline-marker: rgba(48, 62, 88, .5);
  --timeline-border: rgba(66, 86, 122, .1);
  --black-blue: #42567A;
  --timeline-pink: #ff4fb6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
  margin: 0;
  min-height: 100vh;
  background-color: var(--filling);
}

.app-shell {
  min-height: 100vh;
  padding-left: 320px;
  padding-right: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

